<%- include('../../partials/header') %>


    <body>
        <div>
            <%- include('../../partials/navbar') %>
        </div>

        <div class="container">
            <hr>
            <h2></h2><br>

        </div>
    </body>

    <div>
        <%- include('../../partials/footer') %>

    </div>